* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    margin: 15px;
}

#resultado {
    border: white;
    padding: 10px;
    width: 100%;
    background: #f6f4f1;
    margin-top: 5px;
}

.calculadora {
    background-color: rgb(102, 104, 104);
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    color: #202125;
    border-color: white;
}

button {
    width: 5rem;
    height: 3rem;
    background-color: #5f6267;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(59, 58, 58);
    }





